// --------------------------------------
// Global styles
// --------------------------------------

body {
   font-family: monospace;
   color: #cccccc;
   background-color: #111111;
}

.fa {
   font-size: 13px;
   vertical-align: middle;
   margin-right: 0.4em;
}
